.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter, Arial, sans-serif;
  max-width: 1280px;
  color: #FFFFFF;
}

@media screen and (max-width: 1280px) {
  .page {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
  }
}
