.place__website_link {
  font-size: 18px;
  line-height: 1.22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: opacity 1s ease-in-out 0.2s;
}

.place__website_link:hover {
  opacity: 0.8;
}