.lead__subtitle {
  display: flex;
  max-width: 640px;
  min-height: 72px;
  margin: 34px 0 64px;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: 3.95vw;
    max-width: 500px;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin: 16px 0 40px;
    max-width: 288px;
    min-height: 40px;
    padding: 0 16px;
  }
}