.lead__caption {
  min-width: 158px;
  min-height: 14px;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  align-content: flex-start;
  margin: 8px 0 0;
  align-self: flex-start;
}

@media screen and (max-width: 1000px) {
  .lead__caption {
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    padding-left: 16px;
  }
}