.intro__title {
  min-height: 58px;
  max-width: 690px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 92px 0 0;
}

@media screen and (max-width: 768px) {
  .intro__title {
    margin: 88px 0 0;
    max-width: 720px;
    font-size: 7vw;
  }
}

@media screen and (max-width: 500px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}


@media screen and (max-width: 320px) {
  .intro__title {
    margin: 64px 0 0;
    max-width: 228px;
    min-height: 70px;
  }
}